.body {
    font-family: Raleway,sans-serif;
    -webkit-font-smoothing: antialiased;

    .font-size-3 {
    font-size: 30px;
    }
}
.compare_images_section {
    width: 100%;
    height: auto;
    padding: 50px 50px 0;
}
.bg-primary {
    background: rgba(10,81,105,.05) 0 0 no-repeat padding-box !important;
}
.try_now_btn {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 60px;

    .btn {
        height: 40px;
        width: 159px;
    }
    .btn.rounded {
        border-radius: 20px !important;
    }
}
.try_now_btn.widget {
    padding: 60px 0 !important;
}
.try_now_btn.widgetsubmit {
    padding: 0 !important;
}
.btn-success {
    background-color: #3ac280;
    border-color: #3ac280;

    &:hover {
        background-color: #3ac280;
        border-color: #3ac280;
        color: #212529;
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}
.section_title_description {
    max-width: 620px;
    margin: 0px auto 80px;
    text-align: center;
    font-size: 14px;
}
.sketch-container {
    flex-flow: row;
    justify-content: center;
    margin: 15px 0;
    .image-sketch{
        width: 49%;
        background: #fff;
        border-radius: 20px;
        padding: 20px;
        min-height: 440px;
        margin: 1%;
    }
}
.form-group {
    margin-bottom: 1.5rem!important;
    position: relative;
}

.form-holder textarea {
    height: 162px;
    resize: none;
}