.title {
	.section_title_text {
		font-family: Museo Sans Rounded\ 500,Helvetica,Arial,Sans-Serif;
		text-align: center;
		font-weight: 400;
		font-size: 45px;
		line-height: 58px;
		letter-spacing: 0;
		color: #000;
		opacity: 1;
		background-size: 200px 200px;
		background-repeat: no-repeat;
	}
	.section_title_description {
		display: block;
		text-align: left;
		font-weight: 400;
		font-size: 16px;
		line-height: 34px;
		letter-spacing: -.19px;
		color: #000;
		opacity: 1;
		padding-top: 19%;
	}
}
.title.center {
	.section_title_text {
		text-align: center;
		background-position: 50%;
		padding: 12%;
	}
	
}

.title.left {
	.section_title_text {
		text-align: left;
		padding-top: 21%;
		padding-left: 17%;
		background-position: 0 16px;
	}
}
.title.right {
	.section_title_text {
		text-align: right;
		padding-top: 21%;
		padding-right: 17%;
		background-position: 0 16px;
	}
}