.main_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999999999999;
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    -webkit-transition: all .7s;
    -o-transition: .7s all;
    transition: all .7s;
    
    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        img {
            max-width: 217px;
        }
    } 
    .login_btn {
        background: #3ac280 0 0 no-repeat padding-box;
        border-color: #3ac280;
        border-radius: 20px;
        height: 30px;
        padding: 5px 25px;
        letter-spacing: 0;
        font-size: 12px;
        line-height: 16px;
        margin-left: 7%;
        white-space: nowrap;
        min-width: 20px;
    }
    .main_navbar {
        li{
            a {
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 32px;
                letter-spacing: 0;
                color: #f6f8f9 !important;
                opacity: 1;
                &:hover {
                    color: #3ac280 !important;
                }
            }
        }
        
    }
}

.main_header.scrolled {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px #bababa;
    box-shadow: 0 1px 4px #bababa;

    .main_navbar {
        li{
            a {
                color: #4a4848 !important;
            }
        }
    }
}

