.card {
    border: none;
    border-radius: 8px;
    background-color: #f2f6f7;
    .card-header {
        border-radius: 8px;
        padding: 16px 22px;
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-family: 'Gilroy-Light ☞';
    }
    .info_popup {
        position: absolute;
        right: 0%;
        top: 50%;
        font-size: 15px;
        color: #fff;
        font-style: normal;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 20px;
        height: 20px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        transform: translate(-50%, -50%);
    }
    .box-header-primary {
        background-color: #3ac280;
    }

    .box-header-secondary {
        background-color: rgb(10, 81, 105);
    }
    .card-body {
        .card-bold-text {
            padding: 30px 15px 15px;
            text-align: center;
            color: #0a5169;
            font-family: 'Gilroy-Regular ☞';
            font-weight: 600;
            font-size: 53px;
            margin: 0;
            line-height: 1.2;
            >p {
                font-size: 30px;
                position: relative;
                bottom: 0%;
                transform: translate(-50%, -50%);
                left: 50%;
            }
        }
        div {
            font-size: 14px;
            font-family: 'Gilroy-Regular ☞';
            font-weight: 600;
            color: #000;
            opacity: 1;
            text-align: left;
        }
    }
    
}
