.data_number {
    font-family: Museo Sans Rounded\ 500,Helvetica,Arial,Sans-Serif;
    background-repeat: no-repeat;
    text-align: left;
    background-position: bottom;
    font-weight: 700;
    font-size: 167px;
    line-height: 87px;
    letter-spacing: 0;
    color: #0a5169;
    opacity: 1;
    min-height: 143px;
}

.data_text {
    text-align: left;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -.14px;
    color: #000;
    opacity: 1;

    a {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}