.rcs-slider-line
{
    width: 2px;
    height: 80%;
    background-color: #3ac280;
    
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: ew-resize;
    }
}