.footer {
    background: #0a5169;
    padding: 20px 0;

    p {
        color: #fff;
        opacity: .5;
        font-size: 14px;
        margin: 0;
    }

    ul {
        margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff 0 0 no-repeat padding-box;
    -webkit-box-shadow: 0 3px 6px #3ac280;
    box-shadow: 0 3px 6px #3ac280;
    border-radius: 5px;
    opacity: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

        li{
            margin: 0 15px;
            a{
                padding: 0;
                img{
                    width: auto;
                    height: 16px;
                }
            }
        }
    }
    ul.social-links{
        background: rgba(0,0,0,0)!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
}