@import 'antd/dist/antd.css';
@import "./assets/fonts/fonts.scss";
body {
  font-family: Raleway,sans-serif !important;
  background-color: #fff !important;
  .ml-auto {
  margin-left: auto !important;
  }
}
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer!important;
}
::-webkit-scrollbar-thumb {
  background-color: #3ac280;
  outline: none;
  border-radius: 10px;
  cursor: pointer!important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #3ac280;
  box-shadow: inset 0 0 6px #3ac280;
  border-radius: 10px;
  cursor: pointer!important;
}